.channels {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.channels ul {
  padding: 0;
}

.channels li {
  list-style: none;
  line-height: 2em;
}

.channels a {
  text-decoration: none;
  color: white;
}
